@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
}

.root {
	background-color: #f1aa3898;
	height: fit-content;
}
